.main-wrapper {
    background-color: $main-bg-color;
}

.container {
    display: grid;
    height: 70%;
    width: 75%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.card-wrapper {
    margin: 20px;

    figure {
        height: 35px;
        width: 35px;

        img {
            height: auto;
            width: 100%;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .detail {
        margin-left: 15px;

        .detail-name {
            color: hsl(210, 46%, 95%)
        }

        .detail-info {
            color: hsl(0, 0%, 81%);
        }

    }

    .info-detail {
        font-size: 20px;
        color: hsl(210, 46%, 95%);
        margin-top: 15px;
        font-weight: 600;
    }

    .info-description {
        color: hsl(0, 0%, 81%);
        margin-top: 15px;
        line-height: 20px;
     
    }
}

.card-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    background-color: hsl(263, 55%, 52%);
    margin: 15px;
    border-radius: 10px;

}

.quote-symbol{
    background-image: url("../../../images/bg-pattern-quotation.svg");
   background-repeat: no-repeat;
   background-position: 80% 0%;

}

.card-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
    background-color: hsl(217, 19%, 35%);
    margin: 15px;
    border-radius: 10px;
}

.card-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    background-color: hsl(0, 0%, 100%);
    margin: 15px;
    border-radius: 10px;

    .card-wrapper {
        .detail {
            .detail-name {
                color: hsl(220deg 4% 41%)
            }
        }

        .info-detail {
            color: hsl(210deg 11% 31%);
            font-weight: 600;
        }

        .info-description {
            color: hsl(192deg 3% 69%);
        }
    }
}

.card-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    background-color: hsl(219, 29%, 14%);
    margin: 15px;
    border-radius: 10px;
}

.card-5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: hsl(0, 0%, 100%);
    margin: 15px;
    border-radius: 10px;

    .card-wrapper {
        .detail {
            .detail-name {
                color: hsl(220deg 4% 41%)
            }
        }

        .info-detail {
            color: hsl(210deg 11% 31%);
            font-weight: 600;
        }

        .info-description {
            color: hsl(192deg 3% 69%);
        }
    }
}



@media only screen and (max-width:1440px) {

    .container {
        display: grid;
        height: 70%;
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        // grid-row-gap:15px;
        // grid-column-gap:15px;
    }


}

@media only screen and (max-width:1200px) {

    .container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        // grid-row-gap:15px;
        // grid-column-gap:15px;
        padding: 35px;
    }

    .card-5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
        background-color: hsl(0, 0%, 100%);
        margin: 15px;
        border-radius: 10px;

    }
}

@media only screen and (max-width:576px) {

    .container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);

    }

    .card-1 {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .card-2 {
        grid-column: 1;
        grid-row-start: 2;
        grid-row-end: 3;

    }

    .card-3 {
        grid-column: 1;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .card-4 {
        grid-column: 1;
        grid-row-start: 4;
        grid-row-end: 5;

    }

    .card-5 {
        grid-column: 1;
        grid-row-start: 5;
        grid-row-end: 6;

    }

}